<h1>Data Science Tools and Ecosystem</h1>

# In this notebook, Data Science Tools and Ecosystem are summarized

# Some of the popular languages that Data Scientists use are:
1. Python
2. RStudio
3. JavaScript
4. HTML
5. C++
6. Scala
7. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. TensorFlow
6. SciPy
7. Keras

# Table

|Data Science Tools|
|..................|
|Numpy|
|Pandas|
|Sci-kit Learn|
|Apache Hadoop|
|TensorFlow|
|SciPy|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

<h3>This a simple arithmetic expression to mutiply then add integers</h3>

In [4]:
(3*4)+5

17

<h3>This will convert 200 minutes to hours by diving by 60<h/h3>

In [5]:
200/60

3.3333333333333335

# Some of the key takeaways from the course

<b> Objectives:

- Numpy
- Pandas
- Seaborn
- Matplotlib
- Keras

# Author

<h2>Oladebowale Adesoye Ayanniyi<h2/h2>